<!DOCTYPE html>
<html>
   <body>
      <h>Here is a list of Aum's 1006 Assignments:</h>
      <p>HW1: Part A tested our knowledge of sorting and searching. Part B helped us apply list manipulations</p>
      <p>HW2: Part A assessed our knowledge of Big-O runtime. Part B introduced us to dataset manipulation and simulations in python</p>
      <p>HW3: Part A tested our knowldge of recursion. Part B made us apply recursion and data processing</p>
      <p>HW4: It tested our object-oriented programming knowledge by create a simulated class</p>
      <p>HW5: Acted as a final capstone that culminated in us writing the k-nearest-negihbors algorithm from scratch, svm and other data processing</p>
      <p>HW5 was my favorite assignment since it was a good balance of challenges in algorithm design and implementation. I felt that I had a better understanding of how to mathematically classify data and also the practical skills in effectively implementing them. For these reasons, HW5 made me a better programmer and is my favorite.</p>
      </body>
</html>