<!DOCTYPE html>
<html>
   <body>
      <h>Semester 2 classes</h>
      <table>
         <tr>
            <th>Class Number</th>
            <th>Class Name</th>
         </tr>
         <tr>
            <td>1</td>
            <td>PROGRAMMING LANG (JAVASCRIPT)</td>
         </tr>
         <tr>
            <td>2</td>
            <td>ADVANCED PROGRAMMING</td>
         </tr>
         <tr>
            <td>3</td>
            <td>COMPUTATIONAL LINEAR ALGEBRA</td>
         </tr>
         <tr>
            <td>4</td>
            <td>INTRO TO COMP FOR ENG</td>
         </tr>
         <tr>
            <td>5</td>
            <td>THE ART OF ENGINEERING</td>
         </tr>
         <tr>
            <td>6</td>
            <td>INTRO ELEC/MAGNETSM & OPT</td>
         </tr>
      </table>
      <h>My favorite class is advanced programming because we explore a side of computer science that I wasn't exposed to before. I enjoyed gaining a deeper understanding f how computers and the internet works. I also enjoyed coding some fun projects.</h>
   </body>
</html>